#container-contacts {
    float: left; 
    margin-top: 3px; 
}
#container-edit {
    float: right; 
    margin-top: 3px; 
}
.btn-mini {
    vertical-align: middle; 
}

#container-logo {
    margin: 0 auto; 
    display: block; 
    width: 70px;
}
.navbar {
    margin-bottom: 10px; 
}
#about-me {
    margin-left: auto;
    margin-right: auto; 
    text-align: center; 
    width: 100%;
}
body {
    background-color: #f5f5f5; 
}
textarea {
    width: 100%;
}
.thumbnail {
}
#input-fields {
}
blockquote {
    padding: 3%; 
}
.navbar-inner {
    border-radius: 0px; 
}
.modal {
    max-height: 800px;
}